extends layout

block content
  .row
    .card-columns.white-bgd.card-shadow.col-xs-12.col-sm-10.col-sm-offset-1
      .card
        .row.card-header
          h1.card-title.text-center= title
        .row.card-block.facts
          ul.nav
            each fact in factsList
              li
                .fact
                  h2.primary-color
                    a.no-underline.inherit(href="#{link}/#{fact._id}") #{fact.fact}
                    a(href="/facts/remove/#{fact._id}")
                      i#trash.fa.fa-trash-o.pull-right(aria-hidden="true")
                  p.primary-text#fact-tags= " "
                    strong tags:&nbsp;
                    - var i = 0; 
                    each tag in fact.tags
                      - i++;
                      if(i < fact.tags.length)
                        = tag + ", "
                      else
                        = tag
        .row.card-block
          .col-md-6.col-centered
            a.btn-a.text-center(href="/")
              .btn.charcoal-bgd.btn-primary.center-block
                p Back to main menu